In [33]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from uuid import uuid4
import json
import os

# Open King James Bible.
data_dir = os.path.join(os.path.dirname(os.getcwd()), 'data')
kjv_df = pd.read_csv(os.path.join(data_dir, 'en_kjv.csv'), index_col='index')
kjv_df.head()

,language,translation,book,chapter,verse,text
index,,,,,,
0,en,kjv,Gen,1,1,In the beginning God created the heaven and th...
1,en,kjv,Gen,1,2,"And the earth was without form, and void; and ..."
2,en,kjv,Gen,1,3,"And God said, Let there be light: and there wa..."
3,en,kjv,Gen,1,4,"And God saw the light, that it was good: and G..."
4,en,kjv,Gen,1,5,"And God called the light Day, and the darkness..."

In [32]:
# Open metadata table.
book_metadata = pd.read_csv(os.path.join(data_dir, 'metadata', 'books.csv'))
book_metadata.loc[book_metadata['book'].isin(['Numbers', 'Jonah', 'Ruth', 'Mark', 'Titus', 'Revelation'])]

,book,chapters,verses,avg verse per chapter,testament,category,author,abbreviation
3,Numbers,36,1288,36,old,law,Moses,Num
7,Ruth,4,85,21,old,writing,Samuel,Ruth
31,Jonah,4,48,12,old,prophet,Jonah,Jonah
40,Mark,16,678,42,new,gospel,Mark,Mark
55,Titus,3,46,15,new,epistle,Paul,Titus
65,Revelation,22,404,18,new,revelation,John,Rev

In [42]:
# Combine all verses into books.
kjv_books = {}
current_book = '' # The key for the current book
full_text = '' # The value for the current book
tween = ' ' # What goes between each verse
verse_total = book_metadata['verses'].sum() # Index of the final verse
print("Begin forming books...")
# THIS NEEDS TO BE REDONE SO THAT EVERY VERSE IS ADDED IN ORDER!!!!!!!!!!!!!!!!!!!!!!!!
for index, row in kjv_df.iterrows():
    if row['book'] != current_book and current_book != None:
        kjv_books[current_book] = full_text
        current_book = book_metadata.loc[book_metadata['abbreviation'] == row['book']]['book'].values[0]
        full_text = ''
        #print("Beginning {}".format(current_book))
    full_text += row['text'] + tween
    if index == verse_total-1: # Finish the last book
        kjv_books[current_book] = full_text
print("Finished forming books!")
print(kjv_books.keys())
# Store in file
out_path = os.path.join(data_dir, 'en_kjv.json')
if not os.path.isfile(out_path):
    with open(out_path, 'w', encoding='utf-8') as f:
        json.dump(kjv_books, f, indent=4, ensure_ascii=False)

Begin forming books...
Finished forming books!
dict_keys(['', 'Genesis', 'Exodus', 'Leviticus', 'Numbers', 'Deuteronomy', 'Joshua', 'Judges', 'Ruth', '1 Samuel', '2 Samuel', '1 Kings', '2 Kings', '1 Chronicles', '2 Chronicles', 'Ezra', 'Nehemiah', 'Esther', 'Job', 'Psalms', 'Proverbs', 'Ecclesiastes', 'Song of Songs', 'Isaiah', 'Jeremiah', 'Lamentations', 'Ezekiel', 'Daniel', 'Hosea', 'Joel', 'Amos', 'Obadiah', 'Jonah', 'Micah', 'Nahum', 'Habakkuk', 'Zephaniah', 'Haggai', 'Zechariah', 'Malachi', 'Matthew', 'Mark', 'Luke', 'John', 'Acts', 'Romans', '1 Corinthians', '2 Corinthians', 'Galatians', 'Ephesians', 'Philippians', 'Colossians', '1 Thessalonians', '2 Thessalonians', '1 Timothy', '2 Timothy', 'Titus', 'Philemon', 'Hebrews', 'James', '1 Peter', '2 Peter', '1 John', '2 John', '3 John', 'Jude', 'Revelation'])

In [ ]:
from langchain.text_splitter import RecursiveCharacterTextSplitter
from langchain_community.document_loaders import 
from langchain_core.documents import Document
from langchain_core.prompts import ChatPromptTemplate
from langchain_core.runnables import RunnablePassThrough
from langchain_core.output_parsers import StrOutputParser, JsonOutputParser
from langchain_ollama import OllamaEmbeddings, ChatOllama

local_llm = 'llama3'

# Arrange the verses as documents with metadata
def document_verses(df):
    documents = []
    count = 0 # Count batches for sanity's sake.
    for index, row in df.iterrows():
        count += 1
        doc = Document(
            page_content=row['text'],
            metadata={
                'title': row['book'],
                'chapter': row['chapter'],
                'verse': row['verse'],
                'author': find_author(row['book'], row['chapter'])
            },
            id=count
        )
        documents.append(doc)
    uuids = [str(uuid4()) for _ in range(len(documents))]
    return documents, uuids

# Store the vectorized documents in batches
def store_embeddings():
    batch_size = 5000
    embeddings = OllamaEmbeddings(model=local_llm)
    # FIND A BETTER DATABASE SOLUTION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    vectorstore = None #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    
    #vectorstore.add_documents(documents=verse_docs, ids=verse_ids)
    print("Begin document upload...")
    batch_count = 0
    batch_total = verse_docs // batch_size
    for i in range(0, len(verse_docs), batch_size):
        batch_count += 1
        print("Batch {} of {}...".format(batch_count, batch_total))
        batch_docs = verse_docs[i:i+batch_size]
        batch_ids = verse_ids[i:i+batch_size]
        vectorstore.add_documents(documents=batch_docs, ids=batch_ids)

verse_docs, verse_ids = document_verses(kjv_df)
print("Documents created.")
store_embeddings()
print("Documents uploaded.")
retriever = vectorstore.as_retriever()